<div class="fight-container">
  <div class="fight-content">
    {{ pos | number:'0.2-2' }}
<!--    <router-outlet></router-outlet>-->

    <div class="fight-types-table" style=" margin-top: 20px;">

      <div class="fight-types-row" style="height: 20px; display: flex;">
        <div class="name" style="width: 80px; font-size: 11px; display: flex; justify-content: flex-start; align-items: center; padding-left: 6px;">

        </div>
        <div class="ratio" style="width: 40px; height: 20px; font-size: 8px; display: flex; justify-content: center; align-items: center; text-align: center; border: 1px solid #555;"
             *ngFor="let cell of elementTable[0].defendingElems">
          {{ ElementType[cell.defendingElem.type].substr(0, 4) }}
        </div>
      </div>
      <div class="fight-types-row" *ngFor="let row of elementTable;" style="height: 20px; display: flex;">
        <div class="name" style="width: 80px; font-size: 11px; display: flex; justify-content: flex-start; align-items: center; padding-left: 6px;">
          {{ ElementType[row.attackingElem.type] }}
        </div>
        <div class="ratio" style="width: 40px; height: 20px; font-size: 11px; display: flex; justify-content: center; align-items: center; text-align: center; border: 1px solid #555;"
             *ngFor="let cell of row.defendingElems">
          {{ cell.ratio }}
        </div>
      </div>
    </div>

    <div class="fight-bar">
      <div class="fight-cursor" [ngStyle]="{ left: 'calc('+ pos + '% - 10px)' }"></div>
      <div class="fight-bar-left"></div>
      <div class="fight-bar-right"></div>
    </div>
  </div>
</div>
