<div class="canvas-container" #canvas>

</div>

<div class="fps-count">
  {{ framePerSec }} fps
</div>

<!--<div class="axes-count" *ngIf="axes.length">-->
<!--  <div *ngFor="let axe of axes">-->
<!--    {{ axe | number:'.2' }}-->
<!--  </div>-->
<!--</div>-->

<core-stick></core-stick>
<core-touch-pad></core-touch-pad>

<!--<div class="loading-screen" @fadeAnim *ngIf="loading">-->
<!--  Chargement ...-->
<!--</div>-->
<div class="pause-screen" [@fadeAnim] *ngIf="paused" (touchend)="togglePaused()">
  Pause
</div>

<mapping-model-choice [@fadeAnim]
  *ngIf="drawModelOpen"
  [selectedModel]="drawModelId"
  (onModelChange)="drawModelId = $event; drawModelOpen = false;"></mapping-model-choice>
